# You can use this file to set up your environment, or modify it slightly to
# pass it into a container (remove 'export ')

# You can ask an RTP to get these out of OKD for you.

# Used by the CSH_auth library
# For more info, see https://github.com/liam-middlebrook/csh-auth
export csh_auth_state=
export csh_auth_client_id=
export csh_auth_client_secret=
export csh_auth_jwt_secret=
export csh_auth_server_host=
export csh_auth_redirect_uri=

# S3 Bucket credentials. Ask an RTP if you need a new one.
# https://wiki.csh.rit.edu/wiki/S3
export S3_ACCESS_ID=
export S3_HOST=
export S3_SECRET_KEY=

# Postgres URI. Spin up your own for development,
# or ask an RTP to make one for you.
export DB_URI=

# LDAP Creds. Ask an RTP.
export LDAP_BIND_PW=
export LDAP_BIND_DN=
export LDAP_HOST=

# Gin-gonic settings. Base path should be set so it can find
# your resources.
export GIN_MODE=release
export BASE_PATH=
